{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
 <div class="cont "  style="background-color: white">

 <br>
 <div class="terms-main"> <h3 >Доставка</h3> </div>
  <div class="terms-cont">
   Доставка фруктів на віділення Нової Пошти по всій Україні!!!
  </div>
  <hr>
 <div class="terms-main"> <h3 >Способи оплати</h3> </div>
<div class="terms-cont">
Ми працяюємо по обов’язковій предоплаті в 50%, так як у нас товар, який швидко псується і нам потрібна гарантія, що ви заберете своє замовлення в день достаки його на віділення! Оплатити можно і повну вартість замовлення ( це по вашому бажані!) Наложним платижем: Оплатити 50% замовлення ви зможете при отримання товару на віділенні Нової пошти. З даним видом оплати Ви оплачуєте комісію за пересилання грошових коштів (20грн + 2% від суми ) Електрона оплата на карту Privat Bank.
  </div>


 <hr>
 <div class="terms-main"> <h3 >Умови замовлення</h3> </div>
<div class="terms-cont">
<br>1. Предзамовлення на фрукти потрібно робити мінімум за 3 дні до
відправки. (Мінімальна сумма замовлення - 400грн.)
<br>2. Фрукти дуже не простий товар, який не розсте в Україні і бувають
ситуації, що поставки затримуються в дорозі або на митниці, тому в разі
відсутності фрукта на складі, менеджер напише про можливість заміни на
фрукт з наявності. Дуже просимо ставиться до цього з розумінням!
<br>3. Екзотичні фрукти запаковуються в коробочку з наклейкою, яку саме
ви можете вибрати при замовленні.
<br>4. Відмінити оплачене замовлення можно за 24 години до відправки,
дату відправки менеджер напише після прийому оплати замовлення.
<br>5. Ми не несемо відповідальності за зіпсовані фрукти, якщо ви не
забрали коробочку в день доставки на ваше відділення Нової пошти! Номер
накладної відправляємо відразу після відправки, дата доставки там вказана і
завжди точна!
<br>6. Деякі фрукти неможливо перевірити, чи хороші вони не розрізавши
їх. Тому ми повернемо за фрукт гроші, якщо ви випадково отримаєте його в
не хорошому стані. Для цього напишіть нам і зробіть фото зіпсованого
фрукта в день отримання коробочки.
<br>7. Обов’язково перед вживання читайте інструкцію. Смаки незнайомі і
незвичайні, але це не значить, що вони зіпсовані!!!!
  </div>

 <hr>

 </div>

{% endblock content %}