{% extends 'wrapper.html' %}
{% load static %}
{% block content %}

<!-- Product Deatils Area Start -->
        <div class="product-details pt-100 pb-95 ">
            <div class="cont theme-bg product-cont">
                <div class="row">
                    <div class="col-lg-6 col-md-12 ">
                        <div class="product-details-img">
                            <img class="detait-img" src="{{ product.image.url }}"  alt=""/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-content">
                            <h4>{{ product.title }}</h4>
                        </div>
                            <br>
                            <p style="width: 103%; font-size: 22px;font-family: Georgia;"> </p>


                        <div class="quality-add-to-cart">
                             <div>
                                <p style="width: 103%; font-size: 25px;  font-family: Georgia;">Ціна: {{ product.price }} грн/{% if '1' == product.quantity %}{% else %} {{ product.quantity }}  {% endif %} шт</p>
                            </div>

                                <div class="quality">
                                    <label style="font-size: 20px;  font-family: Georgia;">Кількість:</label>
                                    <input id="product-qty-{{ product.slug }}"  data-id="{{ item.id }}" type ="number"  name="qty" value="1" min="1" style="background:#f4f5f7">
                                </div>
                                <div class="shop-list-cart-wishlist">

                                    <a title="Добавити в корзину" class="add_to_cart" data-slug = '{{ product.slug }}'>
                                        <i class="ti-shopping-cart"></i>
                                        В корзину

                                    </a>
                                </div>
                            </div>
<br><br>
                            <div class="pro-dec-social">
                                <ul>
                                    <li><a class="tweet" href="#"><i class="ion-social-twitter"></i> Tweet</a></li>
                                    <li><a class="share" href="#"><i class="ion-social-facebook"></i> Share</a></li>
                                    <li><a class="google" href="#"><i class="ion-social-instagram-outline"></i> Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                <br>
                <br>

                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav text-center">
                        <a class="active" data-toggle="tab" href="#des-details1">Опис</a>
                    </div>
                    <div class="tab-content description-review-bottom">
                        <div  class="tab-pane active">
                            <div class="product-description-wrapper">
                                <p style="width: 103%; font-size: 20px;font-family: Georgia;">{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

<br>
</div>

            <br>
<div class="description-review-area pb-70">
            <div class="cont theme-bg product-cont">
                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav text-center">
                        <a class="active" data-toggle="tab" href="#des-details1">Схожі товари</a>
                    </div>
                    <div class="tab-content ">
                        <div  class="tab-pane active">
                            <div class="product-description-wrapper">
                                <div class="product-area pb-40 " >
                                        <div class="product-top-bar section-border mb-35">

                                        </div>
                                        <div class="featured-product-active hot-flower owl-carousel product-nav">
                                        {% for the_product in products %}
                                            {% if the_product.category == product.category and the_product.slug != product.slug %}
                                            <div class="product-wrapper">
                                                <div class="product-img">
                                                    <a href="{{  the_product.get_absolute_url }} ">
                                                        <img alt="" src="{{ the_product.image.url }}">
                                                    </a>
                                                    <div class="product-action">
                                                        <a class="action-cart add_to_cart" data-slug = '{{ the_product.slug }}' href="#" title="В корзину">
                                                            <i class="ti-shopping-cart"></i>
                                                        </a>
                                                       <a href="{{  the_product.get_absolute_url }} ">

                                                            <i class="ion-ios-search-strong"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-content text-left">
                                                    <div class="product-hover-style">
                                                        <div class="product-title">
                                                            <h4>
                                                                <a href="{{ the_product.get_absolute_url }}">{{ the_product.title }}</a>
                                                            </h4>

                                                        </div>
                                                        <div class="cart-hover">
                                                            <h4><a class="add_to_cart"  href="#" data-slug =  '{{ the_product.slug }}'>+ В корзину</a></h4>
                                                        </div>
                                                        <div class="product-price-wrapper">
                                                        <span>{{ the_product.price }} грн/шт</span>
                                                        </div>
                                                    </div>

                                                    <hr>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}

                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock content %}